<suite name="Testing">
	<test name="Regression">
		<classes>
			
			<class name="testClasses.HomeTest" />
			<class name="testClasses.SearchTest" />
			<class name="testClasses.AddProductTest" />
			<class name="testClasses.EditProductTest" />
			<class name="testClasses.DeleteProductTest" />
			<class name="testClasses.PerformnaceTest" />
		</classes>
	</test>
</suite>